*{
  box-sizing: border-box;
}

input[type = text]{
  margin: .5rem 0;
}
label{
  display:flex;
  flex-flow: column;
}
 tbody{
   td{
     text-align: center;
   }
 }

.wrapper{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.sorting{
  height: 5rem;

}
.multiselect {
  width: 100%;
  position: relative;
}

.selectBox {
  position: relative;
select {
  width: 100%;
  font-weight: bold;
}
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
  position: absolute;
  width: 100%;
  height: 22rem;
  overflow-y: scroll;
  background-color: #FFFF;
  label {
    display: flex;
    justify-content: space-between;
    flex-flow:row;
    align-items: center;
    padding: 0 .1rem;
    cursor: pointer;
    &:hover {
      background-color: #1e90ff;
    }
  }
}

.open{
  display: block;
}
.dataTables_wrapper{

  margin: 5rem 0 0 0;
}
.dataTables_length{
  background-color:#ffffff;
  position: fixed;
  top:0;
  left: 8px;
}
.dataTables_filter{
  background-color:#ffffff;
  position: fixed;
  top:0;
  right: 8px;
}
